@media screen and (max-width: 605px) {
  .phone_hide {
    display: none;
  }
  .call_us {
    display: block;
    height: 100px;
    background-color: white;
    padding: 2% 0 0 25%;
    .number {
      margin-top: 2%;
      color: #012e58;
    }
  }
  .take_photo {
    display: block;
    img {
      float: left;
    }

  }

  body {
    div#body_top {
    }
    div#middle {
      width: 100%;
      margin: 0 auto;
      .top {
        height: 158px;
        background-repeat: no-repeat;
        img {
          height: 45px;
        }

      }
      #menu {
        height: auto;
        ul {
          padding-bottom: 10%;
          li {
            float: none;
            width: auto;
            margin-top: 7%;
          }
          .activ_link {
            width: auto;
          }
        }
      }
      #content {
        img {
        }
        .form {
          form {
            text-align: center;
            dl {
              dt {
                margin-left: 13%;
              }
            }
          }
        }
      }
      #bottom_content {
        .properties {
          h3 {
            font-size: 0.8em;
            margin-right: 2%;
          }
          div {
            margin-right: 16%;
            width: 8%;
          }
        }
      }
    }
  }

}