@media screen and (max-width: 605px) {
  .phone_hide {
    display: none;
  }
  .call_us {
    display: block;
    height: 100px;
    background-color: white;
    padding: 2% 0 0 25%;
    .number {
      margin-top: 2%;
      color: #012e58;
    }
  }
  .take_photo {
    display: block;
    img {
      float: left;
    }

  }

  body {
    div#body_top {
    }
    div#middle {
      width: 100%;
      margin: 0 auto;
      .top {
        height: 158px;
        background-repeat: no-repeat;
        img {
          height: 45px;
        }

      }
      #menu {
        height: auto;
        ul {
          padding-bottom: 2%;
          li {
            float: none;
            width: auto;
            margin-bottom: 4%;
          }
          .activ_link {
            width: auto;
          }
        }
      }
      #content {
        img {
        }
        .form {
          height: 395px;
          form {
            text-align: center;
            dl {
              dt {
                margin-left: 13%;
              }
              dd {
                margin-bottom: 13px;
              }
            }
            input {
              margin-top: 6%;
            }
          }
        }
      }
      #bottom_content {
        height: 46px;
        .properties {
          height: 46px;
          h3 {
            font-size: 0.8em;
            margin-right: 2%;
          }
          div {
            margin-right: 16%;
            width: 8%;
          }

          #apartments {
            .apartment {
              background: none;
              float: none;
              height: 100%;
              width: 100%;
              .box {
                margin: 7% auto;
              }
            }
          }
        }
        #footer {
          position: relative;
          margin-top: 780px;
          height: 240px;
          img {
            margin-right: 0;
          }
          ul {
            text-align: center;
            li {
              float: none;
              margin-bottom: 14px;
            }
          }
        }
      }
    }
  }
}

