@import "compass/reset";
@import "compass";

$width: 951px;
$font-size: 12px;

.display_phone {
  display: none;
}

body {
  background-color: #c7dec7;
  width: 100%;

  div#body_top {
    width: 100%;
    height: 130px;
    @include background-image(linear-gradient(#3b546b, #012e58));
  }

  div#middle {
    width: $width;
    margin: -103px auto 0 auto;
    .top {
      background-image: url("../images/background/bg_top2.png");
      width: 100%;
      height: 91px;
      img {
        margin-top: 2%;
      }
      h2 {
        margin: -25px 0 0 28%;
      }
      .phone {
        margin: -43px 0 0 82%;
        img {
          float: left;
          margin-right: 10px;
        }
        p {
          color: #476d47;
        }
        .number {
          color: #012e58;
        }
      }
    }
    #menu {
      background-color: #476d47;
      width: 100%;
      height: 42px;
      ul {
        padding-top: 1%;
        li {
          float: left;
          width: (floor(100%/7));
          text-align: center;
          a {
            color: white;
            text-decoration: none;
          }
        }
        .activ_link {
          background-color: blue;
          width: (floor(100%/7));
          height: 100%;
        }

      }
    }
    #content {
      position: relative;
      img {
        float: left;
      }
      .form {
        background-color: #a7c2dc;
        height: 388px;
        h2 {
          color: #1b4a7b;
          padding-top: 2%;
          text-align: center;
          font-size: 1.2em;
        }
        img {
          float: right;
        }
        form {
          margin-top: 25px;
          font-size: 0.7em;
          text-align: center;
          dl {
            dt {
              float: left;
              margin-left: 1%;
              display: inline-block;
              width: 7%;
            }
            dd {
              margin: 0 0 1% 3%;
              display: inline;
              input {
                margin: 2px 2px 0 2px;
              }
            }
          }
          input {
            background-color: green;
            margin-top: 5%;
          }
        }
      }
      .semi {
        float: none;
        position: absolute;
        bottom: 0;
      }

    }
    #bottom_content {
      background-color: white;
      .properties {
        width: 100% - 10;
        margin-left: 5%;
        h3 {
          width: 18%;
          text-align: center;
          @include border-radius(5px);
          @include background-image(linear-gradient(#798d79, #314e31))
        }
      }
    }
  }
}