@import "compass/reset";
@import "compass";
@import "compass/css3/transform";

$width: 951px;
$font-size: 12px;

.display_phone {
  display: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.dec_non {
  text-decoration: none;
  color: white;
}

body {
  background-color: #c7dec7;
  width: 100%;
  div#body_top {
    width: 100%;
    height: 130px;
    @include background-image(linear-gradient(#3b546b, #012e58));
  }
  div#middle {
    width: $width;
    margin: -103px auto 0 auto;
    .top {
      background-image: url("../images/background/bg_top2.png");
      width: 100%;
      height: 91px;
      img {
        margin-top: 2%;
      }
      h2 {
        margin: -25px 0 0 28%;
      }
      .phone {
        margin: -43px 0 0 82%;
        img {
          margin-right: 10px;
        }
        p {
          color: #476d47;
        }
        .number {
          color: #012e58;
        }
      }
    }
    #menu {
      background-color: #476d47;
      width: 100%;
      height: 42px;
      @include box-shadow(#888 0 9px 10px 5px);
      ul {
        li {
          width: (floor(100%/7));
          text-align: center;
          display: block;
          padding-top: 14px;
        }
        .activ_link {
          background-color: blue;
          width: 10%;
          height: 28px;
        }
      }
    }
    #content {
      position: relative;
      @include box-shadow(#888 0 9px 10px 5px);
      .form {
        background-color: #a7c2dc;
        height: 388px;
        h2 {
          color: #1b4a7b;
          padding-top: 2%;
          text-align: center;
          font-size: 1.2em;
        }
        form {
          margin-top: 25px;
          font-size: 0.7em;
          dl {
            dt {
              margin-left: 1%;
              width: 8%;
              margin-right: 4%;
            }
            dd {
              margin-bottom: 6px;
              input {
                margin: 2px 2px 0 2px;
              }
            }
          }
          .search_button {
            background-color: green;
            margin: 1% 0 0 10px;
            border: 0;
            position: absolute;
            z-index: 5;
          }
        }
      }
      .semi {
        float: none;
        position: absolute;
        bottom: 0;
      }
    }
    #bottom_content {
      @include box-shadow(#888 0 15px 10px 5px);
      position: relative;
      background-color: white;
      height: 345px;
      .properties {
        width: 100% - 10;
        margin-left: 5%;
        height: 11%;
        h3 {
          color: white;
          width: 26%;
          text-align: center;
          @include border-radius(5px);
          @include background-image(linear-gradient(#798d79, #314e31));
          height: 100%;
          padding-top: 3%;
        }
        div {
          float: left;
          width: 24%;
          a {
            img {
            }
            p {
              color: #58697d;
              display: inline;
              font-size: 0.8em;
              span {
                color: #8ea78e;
              }
            }
          }
        }
        #apartments {
          background-color: #c7dec7;
          width: 100%;
          height: 221px;
          .apartment {
            background-image: url("../images/background/square.png");
            height: 86%;
            width: (floor(100% / 3));
            background-repeat: no-repeat;
            float: left;
            position: relative;

            .box {
              position: relative;
              width: 85%;
              height: 137px;
              margin: 7% 0 0 10%;

              img {
                width: 100%;
                height: 100%;
              }

              .price {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 35%;
                height: 35%;
              }
            }
            p {
              position: absolute;
              color: white;
              right: 3%;
              bottom: 8%;
              @include rotate(-35deg);
            }
            span {
              font-size: 0.9em;
            }
          }
        }
      }
      #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 41px;
        @include background-image(linear-gradient(#024788, #012b52));
        padding-top: 1%;
        img {
          position: relative;
        }
        ul {
          margin-top: 8px;
          margin-left: 8px;
          li {
            color: white;
            margin-left: 15px;
            span {
              margin: 0 13px 0 13px;
            }
          }
        }
        p {
          color: white;
          margin-right: 5px;
          font-size: 0.6em;
        }
      }
    }
  }
}

