@media screen and (min-width: 606px) and (max-width: 1023px) {
  .tablet_hide {
    display: none;
  }

  $width: 606px;

  body {
    div#middle {
      width: $width;
      .top {
        h2 {
          font-size: 0.8em;
          margin-left: 40%;
        }
        .phone {
          margin-top: -40px;
          .number {
          }
        }
      }
      #menu {
        ul {
          li {
            font-size: 0.7em;
          }
        }
      }
      #content {
        .semi {
          width: $width;
        }
      }
      #bottom_content {
        .properties {
          h3 {
//            font-size: 0.8em;
            line-height: 165%;
          }

        }
      }
    }
  }
}