@media screen and (min-width: 606px) and (max-width: 1023px) {
  .tablet_hide {
    display: none;
  }

  $width: 606px;

  body {
    div#middle {
      width: $width;
      .top {
        h2 {
          font-size: 0.8em;
          margin-left: 40%;
        }
        .phone {
          margin-top: -40px;
          .number {
          }
        }
      }
      #menu {
        ul {
          li {
            width: 15%;
            font-size: 0.7em;
          }
        }
      }
      #content {
        .form {
          form {
            font-size: 0.6em;
            dl {
              dt {
                margin-right: 8%;
              }
            }
          }
        }
        .semi {
          width: $width;
        }
      }
      #bottom_content {
        height: 540px;
        .properties {
          h3 {
            line-height: 165%;
          }

        }

        #footer {
          height: 240px;
          img {
            margin-right: 0;
          }
          ul {
            text-align: center;
            li {
              float: none;
              margin-bottom: 14px;
            }
          }
        }
      }
    }
  }
}