@media screen and (max-width: 605px) {
  /* line 2, ../sass/phone.scss */
  .phone_hide {
    display: none;
  }

  /* line 5, ../sass/phone.scss */
  .display_phone {
    height: 100px;
  }
  /* line 9, ../sass/phone.scss */
  .display_phone .number {
    color: #012e58;
  }

  /* line 17, ../sass/phone.scss */
  body div#middle {
    width: 100%;
    margin: 0 auto;
  }
  /* line 22, ../sass/phone.scss */
  body div#middle .top img {
    height: 45px;
  }
  /* line 27, ../sass/phone.scss */
  body div#middle .top .phone {
    display: none;
  }
  /* line 31, ../sass/phone.scss */
  body div#middle #menu {
    height: auto;
  }
  /* line 36, ../sass/phone.scss */
  body div#middle #menu ul li {
    float: none;
    width: auto;
    margin-top: 10px;
  }
  /* line 57, ../sass/phone.scss */
  body div#middle #content .form form {
    text-align: center;
  }
}
