/* line 17, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/style.scss */
.display_phone {
  display: none;
}

/* line 12, ../sass/style.scss */
.fl {
  float: left;
}

/* line 16, ../sass/style.scss */
.fr {
  float: right;
}

/* line 20, ../sass/style.scss */
.dec_non {
  text-decoration: none;
  color: white;
}

/* line 25, ../sass/style.scss */
body {
  background-color: #c7dec7;
  width: 100%;
}
/* line 28, ../sass/style.scss */
body div#body_top {
  width: 100%;
  height: 130px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3b546b), color-stop(100%, #012e58));
  background-image: -webkit-linear-gradient(#3b546b, #012e58);
  background-image: -moz-linear-gradient(#3b546b, #012e58);
  background-image: -o-linear-gradient(#3b546b, #012e58);
  background-image: linear-gradient(#3b546b, #012e58);
}
/* line 33, ../sass/style.scss */
body div#middle {
  width: 951px;
  margin: -103px auto 0 auto;
}
/* line 36, ../sass/style.scss */
body div#middle .top {
  background-image: url("../images/background/bg_top2.png");
  width: 100%;
  height: 91px;
}
/* line 40, ../sass/style.scss */
body div#middle .top img {
  margin-top: 2%;
}
/* line 43, ../sass/style.scss */
body div#middle .top h2 {
  margin: -25px 0 0 28%;
}
/* line 46, ../sass/style.scss */
body div#middle .top .phone {
  margin: -43px 0 0 82%;
}
/* line 48, ../sass/style.scss */
body div#middle .top .phone img {
  margin-right: 10px;
}
/* line 51, ../sass/style.scss */
body div#middle .top .phone p {
  color: #476d47;
}
/* line 54, ../sass/style.scss */
body div#middle .top .phone .number {
  color: #012e58;
}
/* line 59, ../sass/style.scss */
body div#middle #menu {
  background-color: #476d47;
  width: 100%;
  height: 42px;
  -webkit-box-shadow: #888888 0 9px 10px 5px;
  -moz-box-shadow: #888888 0 9px 10px 5px;
  box-shadow: #888888 0 9px 10px 5px;
}
/* line 65, ../sass/style.scss */
body div#middle #menu ul li {
  width: 14%;
  text-align: center;
  display: block;
  padding-top: 14px;
}
/* line 71, ../sass/style.scss */
body div#middle #menu ul .activ_link {
  background-color: blue;
  width: 10%;
  height: 28px;
}
/* line 78, ../sass/style.scss */
body div#middle #content {
  position: relative;
  -webkit-box-shadow: #888888 0 9px 10px 5px;
  -moz-box-shadow: #888888 0 9px 10px 5px;
  box-shadow: #888888 0 9px 10px 5px;
}
/* line 81, ../sass/style.scss */
body div#middle #content .form {
  background-color: #a7c2dc;
  height: 388px;
}
/* line 84, ../sass/style.scss */
body div#middle #content .form h2 {
  color: #1b4a7b;
  padding-top: 2%;
  text-align: center;
  font-size: 1.2em;
}
/* line 90, ../sass/style.scss */
body div#middle #content .form form {
  margin-top: 25px;
  font-size: 0.7em;
}
/* line 94, ../sass/style.scss */
body div#middle #content .form form dl dt {
  margin-left: 1%;
  width: 8%;
  margin-right: 4%;
}
/* line 99, ../sass/style.scss */
body div#middle #content .form form dl dd {
  margin-bottom: 6px;
}
/* line 101, ../sass/style.scss */
body div#middle #content .form form dl dd input {
  margin: 2px 2px 0 2px;
}
/* line 106, ../sass/style.scss */
body div#middle #content .form form .search_button {
  background-color: green;
  margin: 1% 0 0 10px;
  border: 0;
  position: absolute;
  z-index: 5;
}
/* line 115, ../sass/style.scss */
body div#middle #content .semi {
  float: none;
  position: absolute;
  bottom: 0;
}
/* line 121, ../sass/style.scss */
body div#middle #bottom_content {
  -webkit-box-shadow: #888888 0 15px 10px 5px;
  -moz-box-shadow: #888888 0 15px 10px 5px;
  box-shadow: #888888 0 15px 10px 5px;
  position: relative;
  background-color: white;
  height: 345px;
}
/* line 126, ../sass/style.scss */
body div#middle #bottom_content .properties {
  width: 90%;
  margin-left: 5%;
  height: 11%;
}
/* line 130, ../sass/style.scss */
body div#middle #bottom_content .properties h3 {
  color: white;
  width: 26%;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #798d79), color-stop(100%, #314e31));
  background-image: -webkit-linear-gradient(#798d79, #314e31);
  background-image: -moz-linear-gradient(#798d79, #314e31);
  background-image: -o-linear-gradient(#798d79, #314e31);
  background-image: linear-gradient(#798d79, #314e31);
  height: 100%;
  padding-top: 3%;
}
/* line 139, ../sass/style.scss */
body div#middle #bottom_content .properties div {
  float: left;
  width: 24%;
}
/* line 145, ../sass/style.scss */
body div#middle #bottom_content .properties div a p {
  color: #58697d;
  display: inline;
  font-size: 0.8em;
}
/* line 149, ../sass/style.scss */
body div#middle #bottom_content .properties div a p span {
  color: #8ea78e;
}
/* line 155, ../sass/style.scss */
body div#middle #bottom_content .properties #apartments {
  background-color: #c7dec7;
  width: 100%;
  height: 221px;
}
/* line 159, ../sass/style.scss */
body div#middle #bottom_content .properties #apartments .apartment {
  background-image: url("../images/background/square.png");
  height: 86%;
  width: 33%;
  background-repeat: no-repeat;
  float: left;
  position: relative;
}
/* line 167, ../sass/style.scss */
body div#middle #bottom_content .properties #apartments .apartment .box {
  position: relative;
  width: 85%;
  height: 137px;
  margin: 7% 0 0 10%;
}
/* line 173, ../sass/style.scss */
body div#middle #bottom_content .properties #apartments .apartment .box img {
  width: 100%;
  height: 100%;
}
/* line 178, ../sass/style.scss */
body div#middle #bottom_content .properties #apartments .apartment .box .price {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
  height: 35%;
}
/* line 186, ../sass/style.scss */
body div#middle #bottom_content .properties #apartments .apartment p {
  position: absolute;
  color: white;
  right: 3%;
  bottom: 8%;
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 193, ../sass/style.scss */
body div#middle #bottom_content .properties #apartments .apartment span {
  font-size: 0.9em;
}
/* line 199, ../sass/style.scss */
body div#middle #bottom_content #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 41px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #024788), color-stop(100%, #012b52));
  background-image: -webkit-linear-gradient(#024788, #012b52);
  background-image: -moz-linear-gradient(#024788, #012b52);
  background-image: -o-linear-gradient(#024788, #012b52);
  background-image: linear-gradient(#024788, #012b52);
  padding-top: 1%;
}
/* line 206, ../sass/style.scss */
body div#middle #bottom_content #footer img {
  position: relative;
}
/* line 209, ../sass/style.scss */
body div#middle #bottom_content #footer ul {
  margin-top: 8px;
  margin-left: 8px;
}
/* line 212, ../sass/style.scss */
body div#middle #bottom_content #footer ul li {
  color: white;
  margin-left: 15px;
}
/* line 215, ../sass/style.scss */
body div#middle #bottom_content #footer ul li span {
  margin: 0 13px 0 13px;
}
/* line 220, ../sass/style.scss */
body div#middle #bottom_content #footer p {
  color: white;
  margin-right: 5px;
  font-size: 0.6em;
}
