/* line 17, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/style.scss */
.display_phone {
  display: none;
}

/* line 11, ../sass/style.scss */
body {
  background-color: #c7dec7;
  width: 100%;
}
/* line 15, ../sass/style.scss */
body div#body_top {
  width: 100%;
  height: 130px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3b546b), color-stop(100%, #012e58));
  background-image: -webkit-linear-gradient(#3b546b, #012e58);
  background-image: -moz-linear-gradient(#3b546b, #012e58);
  background-image: -o-linear-gradient(#3b546b, #012e58);
  background-image: linear-gradient(#3b546b, #012e58);
}
/* line 21, ../sass/style.scss */
body div#middle {
  width: 951px;
  margin: -103px auto 0 auto;
}
/* line 24, ../sass/style.scss */
body div#middle .top {
  background-image: url("../images/background/bg_top2.png");
  width: 100%;
  height: 91px;
}
/* line 28, ../sass/style.scss */
body div#middle .top img {
  margin-top: 2%;
}
/* line 31, ../sass/style.scss */
body div#middle .top h2 {
  margin: -25px 0 0 28%;
}
/* line 34, ../sass/style.scss */
body div#middle .top .phone {
  margin: -43px 0 0 82%;
}
/* line 36, ../sass/style.scss */
body div#middle .top .phone img {
  float: left;
  margin-right: 10px;
}
/* line 40, ../sass/style.scss */
body div#middle .top .phone p {
  color: #476d47;
}
/* line 43, ../sass/style.scss */
body div#middle .top .phone .number {
  color: #012e58;
}
/* line 48, ../sass/style.scss */
body div#middle #menu {
  background-color: #476d47;
  width: 100%;
  height: 42px;
}
/* line 52, ../sass/style.scss */
body div#middle #menu ul {
  padding-top: 1%;
}
/* line 54, ../sass/style.scss */
body div#middle #menu ul li {
  float: left;
  width: 14%;
  text-align: center;
}
/* line 58, ../sass/style.scss */
body div#middle #menu ul li a {
  color: white;
  text-decoration: none;
}
/* line 63, ../sass/style.scss */
body div#middle #menu ul .activ_link {
  background-color: blue;
  width: 14%;
  height: 100%;
}
/* line 71, ../sass/style.scss */
body div#middle #content {
  position: relative;
}
/* line 73, ../sass/style.scss */
body div#middle #content img {
  float: left;
}
/* line 76, ../sass/style.scss */
body div#middle #content .form {
  background-color: #a7c2dc;
  height: 388px;
}
/* line 79, ../sass/style.scss */
body div#middle #content .form h2 {
  color: #1b4a7b;
  padding-top: 2%;
  text-align: center;
  font-size: 1.2em;
}
/* line 85, ../sass/style.scss */
body div#middle #content .form img {
  float: right;
}
/* line 88, ../sass/style.scss */
body div#middle #content .form form {
  margin-top: 25px;
  font-size: 0.7em;
  text-align: center;
}
/* line 93, ../sass/style.scss */
body div#middle #content .form form dl dt {
  float: left;
  margin-left: 1%;
  display: inline-block;
  width: 7%;
}
/* line 99, ../sass/style.scss */
body div#middle #content .form form dl dd {
  margin: 0 0 1% 3%;
  display: inline;
}
/* line 102, ../sass/style.scss */
body div#middle #content .form form dl dd input {
  margin: 2px 2px 0 2px;
}
/* line 107, ../sass/style.scss */
body div#middle #content .form form input {
  background-color: green;
  margin-top: 5%;
  border: 0;
}
/* line 114, ../sass/style.scss */
body div#middle #content .semi {
  float: none;
  position: absolute;
  bottom: 0;
}
/* line 121, ../sass/style.scss */
body div#middle #bottom_content {
  background-color: white;
}
/* line 123, ../sass/style.scss */
body div#middle #bottom_content .properties {
  width: 90%;
  margin-left: 5%;
  height: 50px;
}
/* line 127, ../sass/style.scss */
body div#middle #bottom_content .properties h3 {
  width: 26%;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #798d79), color-stop(100%, #314e31));
  background-image: -webkit-linear-gradient(#798d79, #314e31);
  background-image: -moz-linear-gradient(#798d79, #314e31);
  background-image: -o-linear-gradient(#798d79, #314e31);
  background-image: linear-gradient(#798d79, #314e31);
  float: left;
  height: 100%;
  line-height: 153%;
}
/* line 136, ../sass/style.scss */
body div#middle #bottom_content .properties div {
  float: left;
  width: 24%;
}
/* line 139, ../sass/style.scss */
body div#middle #bottom_content .properties div a {
  text-decoration: none;
}
/* line 141, ../sass/style.scss */
body div#middle #bottom_content .properties div a img {
  float: left;
}
/* line 144, ../sass/style.scss */
body div#middle #bottom_content .properties div a p {
  color: #58697d;
  display: inline;
  font-size: 0.8em;
}
/* line 148, ../sass/style.scss */
body div#middle #bottom_content .properties div a p span {
  color: #8ea78e;
}
