@media screen and (min-width: 606px) and (max-width: 1023px) {
  /* line 2, ../sass/tablet.scss */
  .tablet_hide {
    display: none;
  }

  /* line 9, ../sass/tablet.scss */
  body div#middle {
    width: 606px;
  }
  /* line 12, ../sass/tablet.scss */
  body div#middle .top h2 {
    font-size: 0.8em;
    margin-left: 40%;
  }
  /* line 16, ../sass/tablet.scss */
  body div#middle .top .phone {
    margin-top: -40px;
  }
  /* line 24, ../sass/tablet.scss */
  body div#middle #menu ul li {
    width: 15%;
    font-size: 0.7em;
  }
  /* line 32, ../sass/tablet.scss */
  body div#middle #content .form form {
    font-size: 0.6em;
  }
  /* line 35, ../sass/tablet.scss */
  body div#middle #content .form form dl dt {
    margin-right: 8%;
  }
  /* line 41, ../sass/tablet.scss */
  body div#middle #content .semi {
    width: 606px;
  }
  /* line 45, ../sass/tablet.scss */
  body div#middle #bottom_content {
    height: 540px;
  }
  /* line 48, ../sass/tablet.scss */
  body div#middle #bottom_content .properties h3 {
    line-height: 165%;
  }
  /* line 54, ../sass/tablet.scss */
  body div#middle #bottom_content #footer {
    height: 240px;
  }
  /* line 56, ../sass/tablet.scss */
  body div#middle #bottom_content #footer img {
    margin-right: 0;
  }
  /* line 59, ../sass/tablet.scss */
  body div#middle #bottom_content #footer ul {
    text-align: center;
  }
  /* line 61, ../sass/tablet.scss */
  body div#middle #bottom_content #footer ul li {
    float: none;
    margin-bottom: 14px;
  }
}
